generation-core/src/main/resources/xsd/common/client_routingkey_rule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfClientRoutingKeyRule" type="ArrayOfClientRoutingKeyRuleType"/>
  <xs:complexType name="ClientRoutingKeyRuleType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="SubsystemId" use="optional"/>
        <xs:attribute type="xs:string" name="ModuleChName" use="optional"/>
        <xs:attribute type="xs:string" name="ServiceEnName" use="optional"/>
        <xs:attribute type="xs:string" name="RoutingKey" use="optional"/>
        <xs:attribute type="xs:string" name="CreationDate" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfClientRoutingKeyRuleType">
    <xs:sequence>
      <xs:element type="ClientRoutingKeyRuleType" name="ClientRoutingKeyRule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>