generation-core/src/main/resources/xsd/common/dict_group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfDictGroup" type="ArrayOfDictGroupType"/>
  <xs:complexType name="ArrayOfDictGroupType">
    <xs:sequence>
      <xs:element type="DictGroupType" name="DictGroup" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DictGroupType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="StartNumber" use="optional"/>
        <xs:attribute type="xs:string" name="EndNumber" use="optional"/>
        <xs:attribute type="xs:string" name="Remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>