generation-core/src/main/resources/xsd/common/dict.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfDict" type="ArrayOfDictType"/>
  <xs:complexType name="ArrayOfDictType">
    <xs:sequence>
      <xs:element type="DictType" name="Dict" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DictItemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Id" use="optional"/>
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="EnName" use="optional"/>
        <xs:attribute type="xs:string" name="PrivateFlag" use="optional"/>
        <xs:attribute type="xs:string" name="Reserve" use="optional"/>
        <xs:attribute type="xs:string" name="Remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element type="DictItemType" name="DictItem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DictType">
    <xs:sequence>
      <xs:element type="ItemsType" name="Items"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="GroupName" use="optional"/>
    <xs:attribute type="xs:string" name="Id" use="optional"/>
    <xs:attribute type="xs:string" name="Name" use="optional"/>
    <xs:attribute type="xs:string" name="EnName" use="optional"/>
    <xs:attribute type="xs:string" name="IdType" use="optional"/>
    <xs:attribute type="xs:string" name="IsCanUpdate" use="optional"/>
    <xs:attribute type="xs:string" name="ClientCached" use="optional"/>
    <xs:attribute type="xs:string" name="InstCustom" use="optional"/>
    <xs:attribute type="xs:string" name="Remark" use="optional"/>
  </xs:complexType>
</xs:schema>