generation-core/src/main/resources/xsd/common/mdb.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfMDB" type="ArrayOfMDBType"/>
  <xs:complexType name="MDBType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="WriteRedo" use="optional"/>
        <xs:attribute type="xs:string" name="SubsystemId" use="optional"/>
        <xs:attribute type="xs:string" name="Remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMDBType">
    <xs:sequence>
      <xs:element type="MDBType" name="MDB" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>