generation-core/src/main/resources/xsd/common/mdb_table_group.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfMDBTableGroup" type="ArrayOfMDBTableGroupType"/>
  <xs:complexType name="MDBTableGroupType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Id" use="optional"/>
        <xs:attribute type="xs:string" name="ChName" use="optional"/>
        <xs:attribute type="xs:string" name="EnName" use="optional"/>
        <xs:attribute type="xs:string" name="Remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMDBTableGroupType">
    <xs:sequence>
      <xs:element type="MDBTableGroupType" name="MDBTableGroup" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>