generation-core/src/main/resources/xsd/common/mdb_table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfMDBTable" type="ArrayOfMDBTableType"/>
  <xs:complexType name="MDBTableType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="DatabaseName" use="optional"/>
        <xs:attribute type="xs:string" name="Id" use="optional"/>
        <xs:attribute type="xs:string" name="ChName" use="optional"/>
        <xs:attribute type="xs:string" name="UseRedo" use="optional"/>
        <xs:attribute type="xs:string" name="LockType" use="optional"/>
        <xs:attribute type="xs:string" name="Redo2DB" use="optional"/>
        <xs:attribute type="xs:string" name="PushUpdate" use="optional"/>
        <xs:attribute type="xs:string" name="LockFields" use="optional"/>
        <xs:attribute type="xs:string" name="PartitionField" use="optional"/>
        <xs:attribute type="xs:string" name="GroupId" use="optional"/>
        <xs:attribute type="xs:string" name="Remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfMDBTableType">
    <xs:sequence>
      <xs:element type="MDBTableType" name="MDBTable" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>