generation-core/src/main/resources/xsd/common/module.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfCommonModule" type="ArrayOfCommonModuleType"/>
  <xs:complexType name="CommonFileType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name" use="optional"/>
        <xs:attribute type="xs:string" name="RelationTable" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SubModulesType">
    <xs:sequence>
      <xs:element type="CommonModuleType" name="CommonModule" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FilesType" mixed="true">
    <xs:sequence>
      <xs:element type="CommonFileType" name="CommonFile" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommonModuleType">
    <xs:sequence>
      <xs:element name="SubModules">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="CommonModuleType" name="CommonModule" maxOccurs="unbounded" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="FilesType" name="Files"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="SubsystemId" use="optional"/>
    <xs:attribute type="xs:string" name="Name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ArrayOfCommonModuleType">
    <xs:sequence>
      <xs:element type="CommonModuleType" name="CommonModule"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>