generation-core/src/main/resources/xsd/common/subsystem.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArrayOfSubsystem" type="ArrayOfSubsystemType"/>
  <xs:complexType name="SubsystemType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Id" use="optional"/>
        <xs:attribute type="xs:string" name="EnName" use="optional"/>
        <xs:attribute type="xs:string" name="ChName" use="optional"/>
        <xs:attribute type="xs:string" name="Tablespace" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfSubsystemType">
    <xs:sequence>
      <xs:element type="SubsystemType" name="Subsystem" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>