generation-core/src/main/resources/xml/init-data/autogen_tetfmsysparam.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data" type="dataType"/>
  <xs:complexType name="rowType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
        <xs:attribute type="xs:string" name="param_value" use="optional"/>
        <xs:attribute type="xs:string" name="remark" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:sequence>
      <xs:element type="rowType" name="row" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="upgrade_mode"/>
    <xs:attribute type="xs:string" name="enname"/>
    <xs:attribute type="xs:string" name="chname"/>
  </xs:complexType>
</xs:schema>